<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>弁当注文フォーム</title>
    <meta name="Author" content=""/>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    
  <p>ID
    <span>注文日</span>
    <span>注文者</span>
    <span>ご飯の量</span>
    <span>注文数</span>
  </p>
    <% orderTable.forEach((order) => { %>
        <p><%= order.id %>
          <span><%= order.orderDate %></span>
          <span><%= order.orderUserID %></span>
          <span><%= order.rice %></span>
          <span><%= order.orderCount %></span>
        </p>
    <% }) %>

      <br>
      <div><a href="/">ページトップへ戻る</a></div>
</body>
</html>